<div class="shadow-lg">
  <img class="rounded-lg m-2 mb-6" src={{product.thumbnail}} alt={{product.thumbnail}}>
  <div class="flex justify-between items-center px-4 py-7">
    <span class="text-xl font-bold text-gray-900">R$ {{product.price}}</span>
    <a href="#" class="bg-sky-900 hover:bg-sky-800 text-white px-4 py-2 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      <span class="text-xs ml-2">Add to card</span> </a>
  </div>
</div>
